@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Labb3Web.Data.Models;

<div id="background">
    <div class="text-center">
        <table class="table">
            <tr class="table-row">
                <td class="table-title"><strong>Title:</strong></td>
                <td class="table-title"><strong>Time:</strong></td>
                <td class="table-title"><strong>Price:</strong></td>
                <td class="table-title"> </td>
                <td class="table-title"><strong>Tickets left:</strong></td>
            </tr>
            @foreach (var item in Model.Viewings){
                <tr class="table-row">
                    <td>@item.Movie</td>
                    <td>@item.Time</td>
                    <td>100kr</td>
                    <td>
                        <div class="form-group">
                            <form class="form-horizontal" method="post">
                                <input for="movie" name="movie" type="hidden" value="@item.Movie" />
                                <input for="amount" type="number" name="amount" min="1" />
                                @if (item.TicketsLeft > 0)
                                {
                                    <input type="submit" class="btn btn-primary" value="Book Ticket" />
                                }
                                else
                                {
                                    <input type="submit" class="btn btn-light" disabled="disabled" value="Book Ticket" />
                                }
                            </form>
                        </div>
                    </td>
                    <td>@item.TicketsLeft</td>
                </tr>
            }
        </table>
        @if(Model.userMessage != null)
        {
            <div>
                <h4>@Model.userMessage</h4>
            </div>
        }
    </div>
</div>

@{ 
    

}
